# CAP IAM-DeviationManagement-MT
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/
dist/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
resources/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
gen/db/.env
# auto generated wildcard
.env*
# auto generated wildcard
.env2

# added by cds deploy
default-env.json

# auto generated wildcard
gen/db/.env
# auto generated wildcard
gen/db/.env
# auto generated wildcard
gen/db/.env
# auto generated wildcard
.env3
# auto generated wildcard
.env4
# auto generated wildcard
.env5
# auto generated wildcard
.env6

# sqlite.db for local development
sqlite.db



# nvmrc
.nvmrc

# .VSCode
.vscode/settings.json

# BAS SQL Session Files
*.sql

# Code Coverage Report
coverage/**
# added by cds bind
.cdsrc-private.json
.env

Makefile*
tmp-*
tmp/